<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskTrackr</title>
  <link rel="stylesheet" href="../static/styles/about.css?{{ cache_id }}" preload>
</head>
<body>
  <header>
    <nav>
      <h1>TaskTrackr</h1>
      <ul>
        <li><a href="#features">Features</a></li>
        <li><a href="#how-it-works">How It Works</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="hero">
    <div class="container">
      <h2>Stay Organized and Get Things Done</h2>
      <p>Task Trackr helps you manage your tasks with ease. Create, organize, and track your to-do list effortlessly.</p>
      <a href="/signup" class="cta-button">Get Started for free</a>
    </div>
    <div class="image">
        <img src="https://d12y7sg0iam4lc.cloudfront.net/s/img/marketing/top-todo-app/to-do-list.png" alt="Picture of the app" width="800" height="500" />
    </div>
</section>
  </section>

  <section id="features">
    <div class="container">
      <h2>Features</h2>
      <div class="feature">
        <i class="fas fa-tasks"></i>
        <h3>Task Management</h3>
        <p>Create and organize tasks in a simple and intuitive interface.</p>
      </div>
      <div class="feature">
        <i class="fas fa-check"></i>
        <h3>Task Completion</h3>
        <p>Mark tasks as completed to keep track of your progress.</p>
      </div>
      <div class="feature">
        <i class="fas fa-sync-alt"></i>
        <h3>Task Highlighting</h3>
        <p>Uncompleted task after due date will be highlighted</p>
      </div>
    </div>
  </section>

  <section id="how-it-works">
    <div class="container">
      <h2>How It Works</h2>
      <div class="step">
        <i class="fas fa-pencil-alt"></i>
        <h3>Create Your Tasks</h3>
        <p>Enter the task details and add it to your to-do list.</p>
      </div>
      <div class="step">
        <i class="fas fa-check-circle"></i>
        <h3>Track Progress</h3>
        <p>Mark tasks as completed to keep track of your progress.</p>
      </div>
      <div class="step">
        <i class="fas fa-sync-alt"></i>
        <h3>Stay Organized</h3>
        <p>Stay organized by managing your tasks efficiently.</p>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Have a question or need support? Get in touch with us.</p>
      <form>
        <input type="text" placeholder="Your Name">
        <input type="email" placeholder="Your Email">
        <textarea placeholder="Your Message"></textarea>
        <button type="submit">Send us a Message</button>
      </form>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <h2>About Us</h2>
      <p>This is a Portfolio Project from Holberton School, created by David Egwutu and Esther Ekanem. TaskTrackr was born out of our shared passion for helping users stay organized with their daily lives and activities. We were inspired to create an app that would enhance users' organizational capabilities and empower them to manage their tasks effectively.</p>
      <p>Find us here:</p>
      <ul>
        <li>David Egwuatu:
          <ul>
            <li><a href="https://www.linkedin.com/in/david-egwuatu-55b698154/">LinkedIn</a></li>
            <li><a href="https://github.com/Davidbukz4">GitHub</a></li>
          </ul>
        </li>
        <li>Esther Ekanem:
          <ul>
            <li><a href="https://www.linkedin.com/in/Uduakabasi-Ekanem-">LinkedIn</a></li>
            <li><a href="https://github.com/ESTHEREKANEM">GitHub</a></li>
          </ul>
        </li>

      </ul>
      <p>Find the code here: <a href="https://github.com/Davidbukz4/TaskTrackr">GitHub Repository</a></p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023
