<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskTrackr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}?{{ cache_id }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Dekko"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h1>TaskTrackr</h1>
      <p class="info">
        Sign up for TaskTrackr now and take control of your tasks. Stay
        organized, increase productivity, and achieve your goals with ease.
      </p>
      <a href="/signup" class="btn">Get Started</a>
    </div>
    <footer>
      <p>Already have an account? <a href="/login">Login</a></p>
      <p>&copy; 2023 TaskTrackr. All rights reserved.</p>
    </footer>
  </body>
</html>
