<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}?{{ cache_id }}" />
  </head>
  <body>
    <form id="loginForm" method="post" action="/login">
      <h2>Login</h2>
      {{ form.hidden_tag() }}
      {{ form.username(class="form.control", id="username") }}
      {{ form.password(class="form-control", id="password") }}
      {{ form.submit(class="btn btn-primary") }}
      <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
  </body>
</html>
