<!DOCTYPE html>
<html>
  <head>
    <title>Main Tasks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}?{{ cache_id }}" preload/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/script.js?{{ cache_id }}"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Dekko"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merienda"
      rel="stylesheet"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1 data-user-id="{{ userId }}">My Tasks</h1>
    <a href="/logout">Logout</a>
    <button id="addTaskBtn">Add Task</button>
    <ul id="taskList">
      <!-- Tasks will be dynamically added here -->
    </ul>
  </body>
</html>
