<!DOCTYPE html>
<html>
  <head>
    <title>Main Tasks</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Dekko"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>My Tasks</h1>
    <button id="addTaskBtn">Add Task</button>
    <ul id="taskList">
      <!-- Tasks will be dynamically added here -->
    </ul>
  </body>
</html>
