<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signup.css') }}?{{ cache_id }}" preload/>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">
      <form id="signupForm" method="POST" action="/signup">
        <h2>Registration</h2>
        {{ form.hidden_tag() }}
        {{ form.username(class="form-control", id="username", placeholder="Username") }}<br>
        {{ form.password(class="form-control", id="password", placeholder="Password") }}<br>
        {{ form.email(class="form-control", id="email", placeholder="Email") }}<br>
        {{ form.submit() }}
        <a href="/login">Login</a>
      </form>
    </div>
  </body>
</html>
