<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="signup.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="container">
      <form id="signupForm">
        <h2>Register Account</h2>
        <input type="text" id="username" placeholder="Username" required />
        <input type="password" id="password" placeholder="Password" required />
        <input type="email" id="email" placeholder="Email" required />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
