body {
  background-color: rgb(208, 201, 201);
}

h1 {
  font-family: cursive, sans-serif;
  margin-left: 25%;
}

input[type="text"],
button {
  display: block;
  width: 90%;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

#addTaskBtn {
  width: 51%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  background-color: rgb(96, 36, 62);
  box-shadow: 2px 2px 5px rgba(78, 21, 68, 0.9);
  border: none;
  border-radius: 5px;
  font-family: cursive;
  font-size: 28px;
}
#addTaskBtn:hover,
.editBtn:hover,
.deleteBtn:hover,
.saveTaskBtnPut:hover,
.saveTaskBtnPost:hover, .cancelTaskBtn:hover {
  background-color: rgb(121, 53, 82);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(162, 68, 87);
  border: none;
  box-shadow: 2px 2px 5px rgba(78, 21, 68, 0.9);
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.highlight {
  background-color: yellow;
}

.editBtn,
.deleteBtn {
  display: inline-block;
  width: 49%;
  background-color: rgb(96, 36, 62);
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.deleteBtn {
  float: right;
}

h3 {
  font-family: cursive;
}

p {
  font-size: 15px;
  margin-bottom: 5px;
}

ul li h3,
ul li p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-title,
.task-description,
.task-due-date {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  background-color: rgb(194, 130, 202);
  border-radius: 4px;
  font-family: cursive, sans-serif;
}

.task-due-date {
  display: block;
  max-width: 100%;
}

.saveTaskBtnPut,
.saveTaskBtnPost {
  display: inline;
  width: 20%;
  margin-left: 25%;
  background-color: rgb(96, 36, 62);
  border: none;
  border-radius: 3px;
  font-family: cursive, sans-serif;
}

.cancelTaskBtn {
  float: right;
  display: inline;
  width: 20%;
  margin-right: 25%;
  background-color: rgb(96, 36, 62);
  border: none;
  border-radius: 3px;
  font-family: cursive, sans-serif;
}
