body {
  background-color: rgb(208, 201, 201);
}

h1 {
  font-family: cursive, sans-serif;
  margin-left: 25%;
  display: inline-block;
}

input[type="text"],
button {
  display: block;
  width: 90%;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
}

#addTaskBtn {
  width: 51%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  background-color: rgb(31, 73, 131);
  box-shadow: 2px 2px 5px rgb(45, 83, 137);
  border: none;
  border-radius: 5px;
  font-family: cursive;
  font-size: 28px;
}
.saveTaskBtnPut:hover,
.saveTaskBtnPost:hover {
  background-color: rgba(41, 153, 49, 0.933);
}

#addTaskBtn:hover {
  background-color: rgb(45, 81, 132);
}

.editBtn:hover {
  background-color: rgba(205, 143, 80, 0.867);
}

.deleteBtn:hover, .cancelTaskBtn:hover {
  background-color: rgba(216, 40, 40, 0.793);
}

a {
  background-color: rgb(202, 46, 46);
  width: 70px;
  height: 30px;
  float: right;
  text-align: center;
  color: black;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(202, 198, 203, 0.692);
  border: none;
  box-shadow: 2px 2px 5px rgba(83, 76, 84, 0.692);
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 10px;
}

.editBtn,
.deleteBtn {
  display: inline;
  width: 40%;
  height: 50%;
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.editBtn {
  background-color: rgba(212, 135, 58, 0.867);
}

.deleteBtn {
  float: right;
  background-color: rgba(230, 11, 11, 0.793);
}

h3 {
  font-family: Merienda, cursive;
  font-size: 22px;
  margin-bottom: 5px;
}

p {
  font-size: 18px;
  margin: 0;
}

ul li h3,
ul li p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Dekko, sans-serif;
}

.task-title,
.task-description,
.task-due-date {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  background-color: rgb(194, 130, 202);
  border-radius: 4px;
  font-family: cursive, sans-serif;
}

.task-due-date {
  display: block;
  max-width: 100%;
}

.saveTaskBtnPut,
.saveTaskBtnPost {
  display: inline;
  width: 20%;
  margin-left: 25%;
  background-color: rgba(16, 144, 25, 0.933);
  border: none;
  border-radius: 3px;
  font-family: cursive, sans-serif;
}

.cancelTaskBtn {
  float: right;
  display: inline;
  width: 20%;
  margin-right: 25%;
  background-color: rgba(230, 11, 11, 0.793);
  border: none;
  border-radius: 3px;
  font-family: cursive, sans-serif;
}




/* Style the custom checkbox */
.completedCheckbox {
  width: 20px;
  height: 30px;
  float: left;
}
